@tailwind base;
@tailwind components;
@tailwind utilities;
@layer base {
  body {
    @apply font-sans antialiased text-gray-800 bg-white;
  }
  h1,
  h2,
  h3,
  h4 {
    @apply font-bebas font-normal tracking-wide text-gray-900 uppercase;
  }
  h5,
  h6 {
    @apply font-bold tracking-tight text-gray-900;
  }
  h1 {
    @apply text-[30px] md:text-[36px] lg:text-[48px];
  }
  h2 {
    @apply text-[24px] md:text-[30px] lg:text-[36px];
  }
  h3 {
    @apply text-[24px];
  }
  p {
    @apply font-sans text-[16px] lg:text-[18px] text-gray-700 leading-relaxed;
  }
}
@layer utilities {
  .section-spacing {
    @apply py-12 md:py-16 lg:py-24;
  }
  .container-custom {
    @apply mx-auto px-4 md:px-6 max-w-[1200px];
  }
}
::-webkit-scrollbar {
  width: 12px;
}
::-webkit-scrollbar-track {
  background: #f1f1f1;
}
::-webkit-scrollbar-thumb {
  background: #ec613b;
  border-radius: 6px;
}
::-webkit-scrollbar-thumb:hover {
  background: #d45431;
}
html {
  scrollbar-width: thin;
  scrollbar-color: #ec613b #f1f1f1;
}
